.button {
    background-color: lightgreen;
    border: none;
    color: black;
    padding: 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    width: 200px;
    margin: 10px;
    cursor: pointer;
}

.header {
    max-width: 1366px;
    max-height: 768px;
    text-align: center;
    position: fixed; 
    left: 0;
    top: 0;
    width: 1050px;
    height: 70px;
    background-color: lightgray;
}

.content{
    max-width: 1366px;
    max-height: 768px;
    position: absolute;
    left: 0px;
    top: 70px;
    width: 1050px;
    height: 558px;
    background-color: lightblue;
}
.additional{
    max-width: 1366px;
    max-height: 768px;
    position: fixed; 
    left: 0;
    top: 535px;
    width: 1050px;
    height: 560px;
    background-color: white;
}
.footer{
    max-width: 1366px;
    max-height: 768px;
    position: fixed; 
    bottom: 0;
    left: 0;
    width: 1050px;
    height: 75px;
    background-color: lightgray;
}

.menu {
    max-width: 1366px;
    max-height: 768px;
    text-align: center;
    position: fixed; 
    right: 0;
    top: 0px;
    width: 320px;
    height: 700px;
    background-color: gray;
}

p.otstup{
    text-indent: 30px;
}
